#logo{
    WIDTH: 345PX;
    HEIGHT: 290PX;
}


.send-btn{
    height: 60px;
    background-color: aliceblue !important;
    margin-left: 20px;
    border-radius: 12px;
    transition : 0.3s ease
    
}

.send-btn:hover{
    background-color: rgb(214, 224, 235) !important;
    scale: 1.05;
}

.subscribe-container{
    display: flex;
    justify-content: center;
}